.landing-splash-container {
    min-width: 600px;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 64px);
}

.intro-image {
    margin-left: 10vw;
    align-self: center;
}

.intro-text {
    color: white;
    white-space: nowrap;
    min-width: 200px;
    align-self: center;
}

@media only screen and (min-width: 500px) {
    .landing-splash-container {
        background-position: 10px 10px;
    }

    .intro-section {
        top: 300px;
        left: 600px;
    }
}