.landing-splash-container {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 64px);
    background: linear-gradient(90deg, #1d1133, #353535);
}

.intro-image {
    align-self: center;
    flex-basis: 30%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.intro-text {
    color: white;
    white-space: nowrap;
    align-self: center;
    flex-basis: 30%;
    font-family: sans-serif;
    margin-bottom: 10vh;
}

.intro-text-title {
    margin-bottom: 1px;
    font-size: 48px;
}

.intro-text-subtitle {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 48px;
    font-weight: 100;
    color: #ffffffaa
}

.intro-text-content {
    font-weight: 400;
}

.intro-text-content > li {
    margin-top: 10px;
}