.dropdown {
    margin-left: 25px;
}

.filter-title {
    margin-top: 5%;
    font-weight: 300;
    text-align: left;
    color: #380038;
    margin-left: 25px;
}

.btn-open-filter-drawer {
    left: 0;
    top: 40;
    position: fixed;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.marketplace-filter-container {
    font-stretch: normal;
    font-weight: 300;
}

.divider {
    margin-top: 5%;
}

.filter-drawer {
    z-index: 5;
}