.dashboard-container {
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    margin-top: 64px;
}

.dashboard-grid {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
}

.dashboard-left {
    margin-top: 2%;
    width: 100vw;
    padding: 0px;
    margin-right: 2%;
    margin-left: 2%;
}

.dashboard-right {
    margin-top: 2%;
    padding: 0px;
}

.progress-renderer {
    margin-top: 130px;
    height: 100vh;
    text-align: center;
    padding-top: 20%;
}

.dashboard-alert {
    margin-top: 74px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}


/*
MEDIUM SCREEN
*/

@media only screen and (min-width: 768px) {
    .dashboard-left {
        margin-top: 2%;
        width: 280px;
        padding: 0px;
        margin-right: 1.5%;
        margin-left: 20px;
    }
    .dashboard-right {
        margin-right: 5px;
    }
}


/*
BIG SCREEN
*/

@media only screen and (min-width: 1300px) {
    .dashboard-left {
        margin-left: 10vw;
        margin-right: 2%;
    }
}