.dashboard-navigation-container {
    position: relative;
    float: left;
    width: 145px;
    height: calc(100vh - 64px);
    background: white;
    left: 0;
    margin-top: 26px;
}

.dashboard-nav-item {
    padding: 6px;
    padding-left: 0;
    cursor: pointer;
    font-size: 12px;
    color: #666666;
    background: white;
}

.material-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 12px;
    font-size: 4px;
    padding: 2px;
}

.activeNav {
    color: purple;
    border-bottom: 1px solid rgba(128, 0, 128, 0.459);
}

@media only screen and (min-width: 768px) {
    .dashboard-navigation-container {
        width: 250px;
        background: white;
        left: 0;
        padding: 6px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .dashboard-nav-item {
        padding: 6px;
        cursor: pointer;
        font-size: 16px;
        color: #666666;
    }
    .material-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        margin: 12px;
        font-size: 8px;
        padding: 2px;
    }
}