.btn-marketing-type {
    min-width: 240px;
    margin-left: 25px;
    margin-bottom: 5%;
    font-weight: 200;
    font-stretch: normal;
}

.split-btn-marketing-type {
    min-width: 215px;
    margin-bottom: 5%;
    font-stretch: normal;
    font-weight: 200;
}

.btn-marketing-type:global(.active), .btn-marketing-type:global(.active):hover, .btn-marketing-type:global(.active):focus, .btn-marketing-type:focus {
    background-color: rgba(49, 0, 128, 0.3) !important;
    font-weight: 200;
    font-stretch: normal;
    outline: none !important;
}

.btn-marketing-type:hover {
    background-color: rgba(49, 0, 128, 0.1) !important;
    outline: none !important;
}

.split-btn-marketing-type:global(.active), .split-btn-marketing-type:global(.active):hover, .split-btn-marketing-type:global(.active):focus, .split-btn-marketing-type:focus {
    background-color: rgba(49, 0, 128, 0.3) !important;
    font-weight: 200;
    font-stretch: normal;
    outline: none !important;
}

.split-btn-marketing-type:hover {
    background-color: rgba(49, 0, 128, 0.1) !important;
    outline: none !important;
}

.split-btn-marketing-type ~ button:hover, .split-btn-marketing-type ~ button:focus {
    background-color: rgba(49, 0, 128, 0.1) !important;
    outline: none !important;
}