.nav-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    justify-content: center;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 14px;
    margin-top: 42px;
    margin-right: 16px;
    margin-left: 16px;
    cursor: pointer;
}