.nav-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    justify-content: center;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    margin-top: 42px;
    margin-right: 16px;
    padding-right: 32px;
    margin-left: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}