.tiny-wallet-container {
    grid-area: wallet;
    height: 50px;
    margin-top: 7px;
    border-left-width: 80%;
    border-left: 1px solid #ddd;
    padding-left: 12px;
    border-right: 1px solid #ddd;
    padding-right: 12px;
}

.tiny-wallet-currency-label {
    color: #558d55;
    font-size: 15px;
}

.tiny-wallet-title {
    font-weight: 300;
    color: #999;
}