.dashboard-charts-card {
    width: 65vw;
    margin-bottom: 2%;
}

.doughnut-card {
    height: 400px;
    overflow: hidden;
}

.chart-title {
    font-weight: normal;
    letter-spacing: 0.02em;
    margin-left: 8%;
    padding-top: 19px;
    margin-top: 0px;
}

.dashboard-charts-card > div > div {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.highest-gross-card-left {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.highest-gross-card-right {
    width: 43%;
    margin-left: 5%;
    margin-right: 2%;
    height: 300px;
    display: inline-block;
    padding-top: 70px;
    font-size: 22px;
}

.quick-maf {
    font-size: 28px;
}


/*
FOR SMALL SIZE SCREENS
*/

@media only screen and (max-width: 768px) {
    .dashboard-charts-card {
        width: 100vw;
    }
}